{% extends 'base_layout.html' %}

{% block title %} Create movie {% endblock %}

{% block content %}
<div id="content" class="colM">
    <h1>Create Movie</h1>

    <div id="content-main">
        <form id="movie_form" action="{% url 'myapp:createmovie' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ form }} -->
            <div>
                <fieldset class="module aligned">
                    {% for field in form %}
                    <div class="form-row">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </fieldset>
                <input type="submit" value="Create" onclick="return alert('Movie created successfully.');">
            </div>
        </form>
    </div>
</div>
<script src="/static/slugify.js"></script>
{% endblock %}