{% extends 'base_layout.html' %}
{% load custom_filters %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if searched %}
        <h1>You searched for... <i><b>{{ searched }}</b></i></h1>
        <!-- Search by movie title -->
        <div class="x">
            <div class="inline-flex">
            {% if movies|is_empty %}
                <h4>No movies found</h4>
            {% else %}
                <h1><b>Movies found</b></h1>
                {% for movie in movies %}
                    <h4> {{ movie.releasedate|date:'Y' }} | <a href="{% url 'myapp:moviedetails' slug=movie.slug %}">{{ movie.title }}</a>
                    </h4>
                {% endfor %}
            {% endif %}
            
            <!-- Search by movie released year -->
            {% if not movies_date|is_empty %}
                <h1><b>Movies from <i>{{ searched }}</i></b></h1>
                {% for movie in movies_date %}
                    <h4> {{ movie.releasedate|date:'Y' }} | <a href="{% url 'myapp:moviedetails' slug=movie.slug %}">{{ movie.title }}</a>
                    </h4>
                {% endfor %}
            {% endif %}
            {% else %}
                <h1>Opps! You forgot to search something</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}